html
    head
        script(src="/index.js" defer) 
    body
        form(action="/tilfojPerson", method="post") 
            input(type="text" id="navn" placeholder="Navn")
            input(type="text" id="adresse" placeholder="Adresse")
            button(type="submit", id="btnTilfoj") Tilføj person
        h1 Produkter
        ul(id="personListe")
            each person in personer 
                li #{person.navn} - #{person.adresse}
        
            