.container {
    width: 35%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 4rem;
    
}

@media (max-width:1200px) {
    .container {
        width: 100%;
        display: block;
    }
}