html
    head
        script(src="index.js" defer) 
    body
        form(action="/tilfojProdukt", method="post") 
            input(type="text" id="produktNavn" placeholder="Produkt navn")
            input(type="text" id="produktPris" placeholder="Produkt pris")
            button(type="submit" id="btnSubmit") Tilføj produkt
        h1 Produkter
        ul
            each produkt in produkter 
                li #{produkt.navn} - #{produkt.pris} kr