#addcar 
    form(action="/addcar", method="post")
        input(type="text", name="brand", placeholder="Indtast bilmærke")
        input(type="text", name="model", placeholder="Indtast model")
        button(type="submit")
            strong Opret 
            | bil 