html
    head 
        script(src="/js/submit.js" defer) 
    body 
        p 
            | Dette er 
            a(href="https://www.twitch.tv/forsen") forsen
        form(action="/users/adduser", method="post")
            input(type="text", name="username", id="username", placeholder="Indtast brugernavn")
            input(type="text", name="password", id="password", placeholder="Indtast kodeord")
            button(type="submit", id="btnCreateUser")
                strong Opret 
                | bruger
        p 
            a(href="/users/login") Gå til login siden? 