html
    head
        title Velkommen
    body
        #login
            if(!ok) 
                form(action="/users/login", method="post")
                    input(type="text", name="username", placeholder="Indtast brugernavn")
                    input(type="text", name="password", placeholder="Indtast kodeord")
                    button(type="submit") login
                p Har du ikke en bruger endnu?
                a(href="/") Opret bruger 

            else 
                p Tillykke, du er nu logget ind som #{ok.username}
                p 
                    a(href="/users/logout") Log ud?
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                p Btw dit kodeord er #{ok.password}